RewriteEngine On

# Establece el directorio base de tu proyecto
RewriteBase /gestion-academica/

# Si el archivo o directorio solicitado no existe, redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
